{% comment %} {% load static %} {% endcomment %}

{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>{% block title %}Right Shot Base{% endblock %}</title>

  <style type="text/css">
    .i-am-centered {
        margin: auto;
        max-width: 50rem;
        padding-top: 20%;
    }
    body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      /* color: #333; */
      background-color: #0f1923;
  }
  </style>
</head>
<body>
  {% comment %} <main> {% endcomment %}
    {% block content %}
    {% endblock %}
  {% comment %} </main> {% endcomment %}
</body>
</html>